@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('../font/exo.otf');

body{
	background: #000;
	background-color: #0a0a02;
	background-image: url("../img/texture.png");
	font-family: 'Josefin Sans',sans-serif;
	overflow-x: hidden;
    
}
h1{
	margin-top: 1em;
	color: #fff;
	text-align: center;
	font-family: 'exo',serif;
	margin-bottom: 0;
	font-size:63px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media(max-width: 769px){
	h1{
		margin-top: 1em;
	}
}
hr{
	margin-top: 00px;
	border: 1.5px solid #dafcff;
    width: 20%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
    -moz-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
    box-shadow: 0px 0px 13px 2px rgba(0,131,177,0.77);
}
legend {
	margin-bottom: 0;
}
p{
	color: #fff;
}

@media (min-width: 769px) {
	p{
	margin-top: 4em;
	margin-left: 4em;
	font-size: 22px;
	}
}

@media (max-width: 768px) {
	p{
		margin-top: 2em;
	}
	h1{
		font-size: 40px;
	}
	hr{
		width: 60%;
	}
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footerimg {
	width: 3%;
	margin: 0 1%;
}
.footer {
	
	right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	width: 100%;
	z-index: 100;
	
}

@media (max-width:767px) {
	.footerimg {
		width: 10%;
		margin: 0 5%;
	}
    
    .footer {
        width: 100%;
    }
}
.footerimg {
  	opacity: 0.9;
    border-radius: 50%;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


 .footerimg:hover {

  	opacity: 1;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);

  	-webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
  	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
.text {
	text-align: justify;
}
.btn-2 {
  letter-spacing: 0;
}
.btn-2:hover, .btn-2:active p{
  color: white;
}
.btn-2:after, .btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn-2:hover:after,.active:after {
  backface-visibility: hidden;
  border-color: #DAFCFF;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
iframe{
	max-width:640px;
	max-height:360px;
}

@media (min-width:770px) {
	iframe{
		margin-top: 5.3em;
		margin-left:5em;
	}
}

@media (max-width: 768px){
	iframe{
		margin-top:3em;
	}
	.embed-responsive{
		overflow: visible!important;
	}
}