@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
body {
  background-color: #fff;
  overflow: hidden;
}

/*.home {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../2");
  background-size: cover;
  background-position: center center;
}*/

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

@media (max-width:767px) {
  #bg {
      width: 250%;
      height: 100%;
      position: fixed;
      top: 0;
      left: -75%;
      z-index: -100;
  }
}

@media(min-width:767px) {
  .vmenu {
    display: none!important;
  }
  }

.footerimg {
  	opacity: 0.9;
    border-radius: 50%;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


 .footerimg:hover {

  	opacity: 1;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);

  	-webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
  	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
/* ====================================
Navigation
==================================== */

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: none;
  opacity: 0;
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav ul li {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  display: none;
}

nav li a {
  position: relative;
  top: 0%;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
  height:100%;
}

nav li a:before {
  content: '';
  width: 70px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

nav li a:after {
  content: attr(data-content);
  font-size: 0.7rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  opacity: 0;
  position: absolute;
  z-index: 100;
  color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  bottom: -50px;
  text-transform: none;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
}
.footerimg {
	width: 15%;
	margin: 0 1%;
}
.footer {
	position: absolute;
	bottom: 0;
    right:0;
	text-align: center;
	width: 20%;
    background: rgba(0,0,0,0);
}
.footer1 {
  position: absolute;
  bottom: 1%;
    left:5%;
  text-align: left;
  display: inline-block;
  width: 80%;

    background: rgba(0,0,0,0);
}
@media (max-width:767px) {
	.footerimg {
		width: 10%;
		margin: 0 5%;
	}
    
    .footer {
        width: 100%;
    }
    .footer1 {
      width:100%;
      margin-bottom: 10%;
      text-align: center;
      left:0;
    }
}

nav li a:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 0;
}

nav li a:hover:after {
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  opacity: 0;
}

nav li a div#abt{
  position: absolute;
  top:46%;
  left:40%;
    font-size: 2em;
}
nav li a div#sp{
  position: absolute;
  top:46%;
  left:31%;
    font-size: 2em;
}
nav li a div#ca{
  position: absolute;
  top:46%;
  left:36%;
    font-size: 2em;
}
nav li a div#wk{
  position: absolute;
  top:46%;
  left:27%;
    font-size: 2em;
}
nav li a div#eve{
  position: absolute;
  top:46%;
  left:40%;
    font-size: 2em;
}

nav li:nth-of-type(1) {
  background-color: #808080;
}

nav li:nth-of-type(2) {
  background-color: #EA495F
}

nav li:nth-of-type(3) {
  background-color: #F4837D
}

nav li:nth-of-type(4) {
  background-color: #FDCEA9
}

nav li:nth-of-type(5) {
  background-color: #99B998
}

@media (min-width:720px) {
  nav li:nth-of-type(1) {
    background-image: url("../img/backdrop/ABOUT_US.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: auto 110%;
  }

  nav li:nth-of-type(2) {
    background-image: url("../img/backdrop/SOPNSORS.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: auto 110%;
  }

  nav li:nth-of-type(3) {
    background-image: url("../img/backdrop/EVENTS.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: auto 110%;
  }

  nav li:nth-of-type(4) {
    background-image: url("../img/backdrop/WORKSHOPS.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: auto 110%;
  }

  nav li:nth-of-type(5) {
    background-image: url("../img/backdrop/TEAM.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-size: auto 110%;
  }
}

.h4 {
    font-size: 2em;
}

@media (max-width: 768px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    height: 20%;
  }
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
}


/* ====================================
Burger king
==================================== */

.open-overlay {
  position: absolute;
  right: 5rem;
  top: 3.2rem;
  z-index: 100;
  width: 34px;
  display: block;
  cursor: pointer;
background-color: rgba(0, 0, 0, 0.5);
padding: 1%;
border-radius: 50%;
padding-top: 0.5%;
pointer-events: auto;
}

@media (max-width:769px) {
    .open-overlay {
        border-radius: 10%;
        padding:5px;
        
    }
}
.open-overlay span {
  display: block;
  height: 1px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 8px;
}

.animate-top-bar {
  -webkit-animation: animate-top-bar .6s linear 1 both;
  animation: animate-top-bar .6s linear 1 both
}

.animate-bottom-bar {
  -webkit-animation: animate-bottom-bar .6s linear 1 both;
  animation: animate-bottom-bar .6s linear 1 both
}

.animate-middle-bar {
  -webkit-animation: animate-middle-bar .6s linear 1 both;
  animation: animate-middle-bar .6s linear 1 both
}

.animate-out-top-bar {
  -webkit-animation: animate-out-top-bar .6s linear 1 both;
  animation: animate-out-top-bar .6s linear 1 both
}

.animate-out-bottom-bar {
  -webkit-animation: animate-out-bottom-bar .6s linear 1 both;
  animation: animate-out-bottom-bar .6s linear 1 both
}

.animate-out-middle-bar {
  -webkit-animation: animate-out-middle-bar .6s linear 1 both;
  animation: animate-out-middle-bar .6s linear 1 both
}


/* ====================================
Animation keyframes
==================================== */

@-webkit-keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-top-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #fff
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #ffffff;
  }
}

@-webkit-keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #29363B;
  }
}

@keyframes animate-bottom-bar {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #fff;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #ffffff;
  }
}

@-webkit-keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #29363B;
  }
}

@keyframes animate-middle-bar {
  0% {
    background-color: #fff;
  }
  80% {
    background-color: #fff;
  }
  100% {
    background-color: #ffffff;
  }
}

@-webkit-keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-top-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px)
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #29363B
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@-webkit-keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@keyframes animate-out-bottom-bar {
  0% {
    background-color: #29363B
  }
  50% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px)
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #29363B;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-color: #FFF;
  }
}

@-webkit-keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes animate-out-middle-bar {
  0% {
    background-color: #29363B
  }
  80% {
    background-color: #29363B;
  }
  100% {
    background-color: #fff;
  }
}

.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media screen and (max-width: 768px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav ul li {
    height: 20%;
  }
  nav ul li a {
    font-size: 11px;
  }
  nav li a:after {
    font-size: 0.6rem;
    bottom: -25px;
  }
  nav li a:hover:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* Button 1 */
.btn-1 {
  border: 1px solid #fff;
  color: #fff;
  margin-left: 1%;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  /*color: #0e83cd;*/
  color: #d9534f;
  border: 3px solid #d9534f;
  background: #fff;
}

.footer-btn{
  margin-left: 1%;
  
}

@media (max-width:767px) {
  .btn-1 {
    width: 75%;
    margin-bottom: 2%;
  } 
 
} 