@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('../font/exo.otf');

* {
  font-family: 'JosefinSans', sans-serif;
  /*font-weight: bold !important;*/
  /*text-transform: uppercase !important;*/
}

.navbar-nav li {
      text-align: center;
}

.navbar-nav li a{
  color: #fff !important;
}

body {
	background: #000;
  background-color: #0a0a02!important;
  background-image: url("../img/texture.png")!important;
	color: white;
  overflow-x: hidden;
}

.card {
  margin: 0;
}
.titlesponsors {
    padding: 0 4em;
    width: 50%;
    margin-left: -7%;
}

@media (max-width:769px) {
    sp {
        margin-top: 1%;
    }
    .titlesponsors {
        width:100%!important;
        margin: auto;
    }
}

@media (min-width:769px) {
    
}
h1{
	margin-top: 1em;
	color: #fff;
	text-align: center;
	font-family: 'Josefin Sans',sans-serif;
	margin-bottom: 0;
	font-size:40px;
}

.footerimg {
	width: 3%;
	margin: 0 1%;
}
.footer {
	
	right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	width: 100%;
	z-index: 100;
	
}

@media (max-width:767px) {
	.footerimg {
		width: 10%;
		margin: 0 5%;
	}
    
    .footer {
        width: 100%;
    }
}
.footerimg {
  	opacity: 0.9;
    border-radius: 50%;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


 .footerimg:hover {

  	opacity: 1;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);

  	-webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
  	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
hr{
  	margin-top: 0;
    padding-top:0;
    margin-bottom: 5em;
  	border: 1.5px solid #dafcff;
    width: 20%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
    -moz-box-shadow: 0px 0px 289px 104px rgba(0,131,177,0.77);
    box-shadow: 0px 0px 13px 2px rgba(0,131,177,0.77);
}

@media(min-width:768px){
  .box{
    margin-top: -3em;
  }
}

@media(max-width:768px){
  .box{
    margin-top: -4em;
  }
}

#navbar-top, #navbar-collapse {
	background-color: transparent;
	border-color: transparent;
	border: 0;
	box-shadow: 0;
}

.btn-navlink {
	border-color: transparent;
	background-color: transparent;
	vertical-align: middle;
	/*margin: 1em;*/
	text-align: left;
	/*padding: 1em;*/
}

.btn-navlink:hover {
	box-shadow: 1em;
}

#navlogo {
	height: 6em;
}

@media (max-width:767px) {
	#navbar-top {
		height: 4em;
	}
	#navlogo {
		height: 4em;
	}
}

.btnsfos, .btnfos * {
	-moz-box-sizing: inherit;
         box-sizing: inherit;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .6s;
            transition-duration: .6s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  margin: 0.5em;
}

@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos {
  font-weight: bold;
  border-color: transparent;
  background-color: transparent;
}
.btnfos svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos rect {
  fill: none;
  stroke: #fff;
  stroke-width: 0;
  stroke-dasharray: 422, 0;
}

.btnfos:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 1px;
  font-weight: 900;
}
.btnfos:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


/* LOADER */

#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(../../img/loading.gif) center center no-repeat;
  background-color: #000;
  z-index: 2000;
}

/* LOADER */

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  body {
    padding-bottom: 40px;
  }
}

.dropdown-menu {
  border-color: rgba(200, 200, 200, 0.8);
  background-color: rgba(50, 50, 50, 0.3) !important;
}
.btnfosd {
  font-size: 1.2em;
  width: 5em;
  color: white !important;
}
.btnfos, .btnfos:hover {
  background-color: transparent !important;
}
.btnfosd:hover {
  background-color: transparent !important;
  color: white !important;
}
.btnfosd {
border: 1px solid;
overflow: hidden;
position: relative;
}
.btnfosd span {
z-index: 20;
}
.btnfosd:after {
background: #fff;
content: "";
height: 155px;
left: -75px;
opacity: .2;
position: absolute;
top: -50px;
width: 50px;
-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
-webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
    transform: rotate(35deg);
z-index: -10;
}

.btnfosd:hover:after {
left: 120%;
-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media (max-width: 600px) {
      nav {
        background-color: black !important;
        height: 5em !important;
      }
    }

footer {
  z-index: 1000;
  width: 100%;
  height: 25px;
  /*border: 2px solid #fff;*/
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  bottom: 0;
  padding: 4px 0 0 0;
}

footer ul li {
  display: inline;
  text-align: center;
}

footer ul.left li {
  float: left;
  margin: 0 2em;
}

footer ul.right li {
  float: right;
  margin: 0 0.5em;
}

footer ul li a {
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
  text-decoration: none !important;
  color: #fff !important;
}

footer ul li a:hover {
  font-weight: bold;
}

.signin,.signin:hover {
  border: 2px solid #fff;
}

body {
  background-color: #000;
  background-image: url(../../img/black-felt.png);
  background-attachment: fixed;
  overflow-x: hidden;
}

.scrolled {
  background-color: black;
}

.thumbnail {
  background-color: transparent !important;
  margin-top: 2em;
  margin-bottom: 2em;
}

.thumb a {
  background-color: #cccccc !important;
  background-image: url(../../img/black-felt.png);
  border: 2px solid transparent;
  text-decoration: none;
  transition: box-shadow 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: transparent !important;
}

.thumb a:hover {
  box-shadow: 0 0 10px #262626, 0 0 70px #262626;
}

.thumb a p {
  text-align: center;
}

.sponsor-type-title {
  text-align: center;
  font-size: 300%;
  color: #fff;
  font-weight: bold;
}

.sponsor-name,
.sponsor-role {
  color: #000;
  white-space: nowrap;
  overflow-x: hidden;
}

.sponsor-name {
  font-weight: bold;
  font-size: 18px;
}

.sponsor-role {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .threecolfixz {
    display: none;
  }
}

h4 {
  text-align: center;
}

legend, h4{
  font-family: 'Josefin Sans', sans-serif!important;
}
.md-close {
      color: #fff;
      margin-top: 6em !important;
      border: 1px solid #fff;
      transition-duration: 0.3s;
    }

    .md-close:hover {
      background-color: #fff !important;
      color: #000 !important;
    }

    .md-content {
      /*width: 70vw;*/
      /*height: 100vh;*/
      text-align: center;
      padding-top: 6em;
      border: 1px solid #fff;
    }

    .md-content {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }

nav{
	background-color:#000;
}

@media (max-width:769px) {
    nav li {
        background-color: #000;
    }
  nav li:nth-of-type(1){   
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
  nav li:nth-of-type(2){   
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
  nav li:nth-of-type(3){
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
  nav li:nth-of-type(4){
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
  nav li:nth-of-type(5){    
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
  nav li:nth-of-type(6){   
    width: 100%;
    margin: auto;
      z-index: 1000;
  }
}


.btn-2 {
  letter-spacing: 0;
}
.btn-2:hover, .btn-2:active p{
  color: white;
}
.btn-2:after, .btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn-2:not(.active):hover:after,.active:after {
  backface-visibility: hidden;
  border-color: #DAFCFF;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.sp{
  height: 300px;
    margin-top: 1%;
    
}
@media (max-width:769px) {
    .sp {
        margin-top: 5%;
    }
}


@media(min-width: 768px){
  .pbs{
    visibility: hidden;
  }
  .tt{
    padding: 0 4em;
    margin-top: 0em;
  }
  .mtv{
    padding: 0 5em;margin-left: 2em;margin-top: -8em;
  }
}


@media(max-width:768px){
  .pb{
    visibility: hidden;
  }
  .tt{
    margin-top: -6em;
  }
  .mtv{
    margin-top: 0em;
    margin-left: 1em;
  }
}

.title-font{
  font-family: 'exo',sans-serif!important;
}
/*.nav>li>a:hover{
    background-color: #0a0a02!important;
    background-image: url("../img/texture.png")!important;
}
*/