@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('../assets/fonts/exo.otf');
body {
  font-family: 'Josefin-Sans',sans-serif;
    position: relative;
    background-color: #0a0a02!important;
  background-image: url("../img/texture.png")!important;
}
h1{

	color: #fff;
	text-align: center;
	font-family: 'Josefin Sans',sans-serif;
	margin-bottom: 0;
	font-size:63px;
}
@media(max-width: 769px){
	h1{

	}
}
.footerimg {
	width: 3%;
	margin: 0 1%;
}
.footer {
	
	right: 0;
  bottom: 0;
  left: 0;
	text-align: center;
	width: 100%;
	z-index: 100;
	
}

@media (max-width:767px) {
	.footerimg {
		width: 10%;
		margin: 0 5%;
	}
    
    .footer {
        width: 100%;
    }
}
.footerimg {
  	opacity: 0.9;
    border-radius: 50%;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


 .footerimg:hover {

  	opacity: 1;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);

  	-webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
  	-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
}
.divide {
  width:50%!important;
}
hr{
	margin-top: 00px;
	border: 1.5px solid #dafcff;
  width: 15%!important;
  text-align: center;
  
}
/*
.carousel-inner > .item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}
.carousel-inner > .item:first-of-type {
  position: relative;
}
.carousel-inner > .active {
  opacity: 1;
  z-index: 3;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  -webkit-transition: opacity 0.6s ease-in-out;
       -o-transition: opacity 0.6s ease-in-out;
          transition: opacity 0.6s ease-in-out;
  opacity: 1;
  left: 0;
  z-index: 2;
}
.carousel-inner > .active.left,
.carousel-inner > .active.right {
  z-index: 1;
}
.carousel-control {
  z-index: 4;
}*/
.container {
  margin: auto;
}
.transparent-texture{
  position: absolute;
  top: 0;
  height: auto;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
}

.bg-black{
  background-color: rgba(0,0,0,0.5);
}

.navbar-brand img{
  float: left;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.navbar-translate{
  float: left;
  height: 100px;
  width: 300px;
}

nav a{
  font-family: 'Oswald', sans-serif!important;
  font-size: 14px!important;
  line-height: 20px;
  letter-spacing: 2px;
  margin:.5em;
}

nav a.active, nav a:hover, nav a:focus{
  color: rgb(12,85,206);
}

.nav-twitter a.active, .nav-twitter a:hover, .nav-twitter a:focus{
  color: #4099FF;
}

.nav-fb a.active, .nav-fb a:hover, .nav-fb a:focus{
  color: #3B5998;
}

.nav-youtube a.active, .nav-youtube a:hover, .nav-youtube a:focus{
  color: #E52D27;
}

.nav-insta a.active, .nav-insta a:hover, .nav-insta a:focus{
  color: #E95950;
}

/*ABOUT-ELAN SECTION*/
.about-elan{
  background:#4ABDAC;
  color: white;
  padding: 40px 15px 70px;
}

.about-elan h2{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 39px;
}

.about-elan p{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 20px 15px 40px 0;
  margin: 0;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.btn{
  text-transform: uppercase;
}

.btn-team{
  border-color: #FFB236!important;
  background: white;
  text-transform: uppercase;
  color: #FFB236;
  margin-left: 3em;
}

a.btn-gallery:hover,a.btn-gallery:active,a.btn-gallery:focus{
  color: #FFB236;
  background-color:#FFF;
  border-color: #FFB236;
}

div.social-icons-section{
  padding-left: 0;
  margin-left: 0;
  margin-top: 1em;
}

ul.social-icons-list{
  margin-left:-18px;
  margin-top: 50px;
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

ul.social-icons-list li a{
  color: white;
  font-size: 1.5em;
}

/*ABOUT NVISION SECTION*/

.about-nvision  {
  background: #C54B34;
  color: white;
  padding: 40px 0 70px 15px;
  margin-left: 15px;
}

.about-nvision h2{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 39px;
}

.about-nvision p{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 20px 15px 40px 0;
  margin: 0;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.btn{
  text-transform: uppercase;
}

.btn-team{
  border-color: #FFB236!important;
  background: white;
  text-transform: uppercase;
  color: #FFB236;
  margin-left: 3em;
}

a.btn-gallery:hover,a.btn-gallery:active,a.btn-gallery:focus{
  color: #FFB236;
  background-color:#FFF;
  border-color: #FFB236;
}

div.social-icons-section{
  padding-left: 0;
  margin-left: 0;
  margin-top: 1em;
}

ul.social-icons-list{
  margin-left:-18px;
  margin-top: 50px;
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

ul.social-icons-list li a{
  color: white;
  font-size: 1.5em;
}

#team {
  text-align: center;
  margin-top: 0%;
  width:100%;
  color:white;
}
.container {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.card {
  background-color: black;
  margin: 1% 5%;

  width:30rem!important;
  display: inline-block;
}

.card-block {
  margin-top: 5%;
}

ul.social-icons-list {
  margin: auto;
  width: 75%;
}

.nav-item {
  margin:auto;
}

.card-block {
  padding: 0;
}

.card-title {
  margin: 0;
  font-size: 24px;
}

.card-content {
  margin: 0;
  font-size: 16px;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid white;
    width: 50%;
    margin: 0 auto 3%;
}


/* facebook icon*/
@import url('../../../maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	color: #000;
	text-decoration: none;
	
}

.socialbtnsbtnsbtns, .socialbtnsbtnsbtns ul, .socialbtnsbtnsbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtnsbtnsbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	color: #FFF;
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-o-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

.card-img-top {
  border-radius: 50%;
  width:65%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
  margin-top:10%;
  margin-bottom: 0%;
}

figure.effect-bubba img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


figure.effect-bubba:hover img {

	opacity: 1;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);

	-webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar {
    padding: 0;
    margin: 0;
}

.btn-2 {
  letter-spacing: 0;
}
.btn-2:hover, .btn-2:active p{
  color: white;
}
.btn-2:after, .btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.btn-2:not(.active):hover:after,.active:after {
  backface-visibility: hidden;
  border-color: #DAFCFF;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.nav ul li {
    margin: auto;
}
.card{
   background-color: #0a0a02!important;
  background-image: url("../img/texture.png")!important;
}
